<nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container d-flex justify-content-between">
        <a class="navbar-brand" href="/index.html">
            <img class="navbar-logo" src="/assets/images/logos/medibook-logo-transparent.png" alt="MediBook">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">MediBook Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <div class="navbar-actions d-flex flex-column flex-lg-row align-items-lg-center ms-auto">
                    <a href="/pages/doctor/doctor-signup.html"
                        class="doctor-link mb-3 mb-lg-0 me-lg-3 text-center">Join as a Doctor</a>

                    <div class="d-flex gap-3 justify-content-center">
                        <a href="/pages/patient/login.html"
                            class="patient-btn patient-btn--primary flex-grow-1 flex-lg-grow-0">Log in</a>
                        <a href="/pages/patient/signup.html"
                            class="patient-btn patient-btn--primary flex-grow-1 flex-lg-grow-0">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
